@charset "UTF-8";
#main{
	min-width:1230px;
	background-color:#f5f5f5;
}
#main .main-nav-bg{
	border-top:2px solid #ff0036;
}
#main .main-nav-bg{
	background-color:#e8e8e8;
	height:496px;
}
#main .main-nav{
	width:1230px;
	height:500px;
	margin:0 auto;
}
/*********#main .main-nav .main-nav-classify statr**********/
#main .main-nav .main-nav-classify{
	width:200px;
	height:532px;
	margin-top:-36px;
	z-index:1;
}
#main .main-nav-classify h2{
	padding-left:10px;
	line-height:35px;
	background-color:#ff0036;
	color:#fff;
}
#main .main-nav-classify  h2 i{
	margin-right:10px;
}
#main .commodity>li>a{
	display:block;
	padding-left:10px;
	background-color:rgba(0,0,0,0.5);
	color:#fff;
	line-height:31px;
	font-size:14px;
}
#main .commodity>li i{
	margin-right:5px;
}
#main .commodity>li:hover>a{
	background-color:#fff;
	color:#ff0036;
}
#main .commodity>li:hover .hidelist{
	display:block;
}
#main .commodity .hidelist{
	display:none;
	top:36px;
	left:200px;
	width:850px;
	height:496px;
	background-color:#fff;
}
#main .commodity .hidelist-left{
	padding-right:15px;
	//background-color:#fff;
}
#main .commodity .hidelist-left h4{
	width:120px;
	padding-left:25px;
	background-image:url(images/next.png);
	background-size:14px;
	background-repeat:no-repeat;
	background-position:82px;
	color:black;
	font-size:14px;
	line-height:40px;
}
#main .commodity .hidelist-left ul{
	width:480px;
	padding:10px 0 10px 10px;
	border-bottom:1px dashed #666666;
}
#main .commodity .hidelist-left li:last-child ul{
	border-bottom:none;
}
#main .hidelist-left li ul li{
	display:inline-block;
	line-height:20px;
	padding-right:9px;
}
#main .hidelist-left li ul li a{
	font-size:12px;
	color:#666666;
}
#main .hidelist-left li ul li a:hover{
	color:#ff0036;
}
#main .hidelist-right{
	width:184px;
	height:480px;
	padding:8px;
	background-color:#fafafa;
}
#main .hidelist-right img{
	width:90px;
	height:50px;
}
#main .hidelist-right li:last-child img{
	width:100%;
	height:100%;
}
#main .hidelist-right li{
	float:left;
	padding-bottom:1px;
}
#main .hidelist-right li:nth-child(odd){
	padding-right:1px;
}
#main .hidelist-right li:last-child{
	width:163px;
	height:71px;
	padding-left:9px;
	padding-top:4px;
}
/*********#main .main-nav .main-nav-classify end**********/
/*******#main .main-nav-top start******/
#main .main-nav-top{
	top:0;
	left:210px;
}
#main .main-nav-top ul li{
	float:left;
	line-height:34px;
	font-size:17px;
	padding-right:16px;
	color:#333333;
}
#main .main-nav-top ul li img{
	width:115px;
	height:34px;
	margin-bottom:2px;
}
#main .main-nav-top ul li a:hover{
	color:#ff0036;
}
/*******#main .main-nav-top end******/
/**********main main-nav-list start********/
#main .imageslist img{
	width:1230px;
	height:496px;
}
#main .imageslist li{
	display:none;
	position:absolute;
	top:36px;
	//z-index:-1;
}
#main .imageslist .show{
	display:block;
}
#main .btnlist{
	bottom:0;
	left:500px;
	margin:auto;
}
#main .btnlist li{
	float:left;
	width:25px;
	height:5px;
	margin-left:10px;
	background-color:rgba(0,0,0,.3);
	//z-index: 1;
}
#main .btnlist .active{
	background-color:rgba(255,255,255,.3);
}
/**********main main-nav-list end********/
/**********main main-content start********/
#main .main-content{
	width:1230px;
	margin:40px auto;
}
/*************main-content .activity start*******************/
#main .main-content .activity li{
	float:left;
	width:480px;
	height:385px;
}
#main .main-content .activity li:first-child{
	width:240px;
	height:385px;
}
#main .main-content .activity li:nth-child(2){
	margin:0 15px;
}
#main .main-content .activity li h3{
	float:left;
	padding-left:10px;
	font-size:18px;
	line-height:50px;
}
#main .activity li h3 span{
	margin-left:10px;
	font-size:16px;
	vertical-align:bottom;
}
#main .activity li a{
	float:right;
	padding-right:10px;
	font-size:16px;
	line-height:50px;
}
#main .activity li a img{
	margin-left:5px;
	width:18px;
	height:18px;
}
#main .main-content .activity li>img{
	width:480px;
	height:315px;
	cursor:pointer;
}
#main .main-content .activity li>img:hover{
	opacity:0.7;
}
#main .main-content .activity li:first-child>img{
	width:240px;
	height:315px;
}
/*************main-content .activity end*******************/
/*************main-content .brand start*******************/
#main .main-content .brand li{
	float:left;
	background-color:#fff;
	width:135px;
	height:110px;
	margin-right:1px;
	margin-top:1px;
	text-align:center;
	line-height:110px;
}
#main .main-content .brand li a{
	bottom:0px;
	left:0px;
	width:100%;
	height:77px;
	padding-top:33px;
	background-color:rgba(0,0,0,0.7);
	color:white;
	line-height:25px;
	opacity:0;
	transition:.5s;
}
#main .main-content .brand li a:hover{
	opacity:1;
}
#main .main-content .brand li a span{
	display:block;
	margin:0 28px;
	line-height:20px;
	background-color:#ff0036;
	border-radius:10px;
}
#main .main-content .brand li:last-child a{
	background-color:#fff;
	color:#999;
	opacity:1;
	font-size:18px;
	transition:.5s;
}
#main .main-content .brand li:last-child a:hover{
	background-color:#ff0036;
}
#main .main-content .brand li:last-child a i{
	display:block;
	font-size:28px;
}
#main .main-content .brand li:last-child a:hover i{
	animation:go 0.5s 1 forwards;
}
@keyframes go{
	0%{
		transform:rotate(0deg);
	}
	100%{
		transform:rotate(360deg);
	}
}
/*************main-content .brand end*******************/
/*************main-supermarket start*******************/
#main .main-supermarket{
	width:1230px;
	margin:0 auto;
}
#main .main-supermarket-nav{
	padding-left:500px;
	background-image:url(images/50.png);
	background-repeat:no-repeat;
	background-size:215px 25px;
	background-position:left;
}
#main .main-supermarket-nav li{
	margin-right:10px;
	font-size:15px;
	line-height:40px;
}
#main .main-supermarket-nav li a{
	margin-top:2px;
}
#main .main-supermarket-nav li a:hover{
	border-bottom:1px solid;
}
#main .supermarket-content-left{
	width:235px;
	height:600px;
	//background-color:blue;
}
#main .supermarket-content-left>img{
	width:100%;
	height:100%;
}
#main .supermarket-content-left h3{
	left:0;
	bottom:112px;
	width:50px;
	height:50px;
	padding:10px;
	background-color:#000;
	color:#fff;
	font-size:20px;
	text-align:center;
	font-weight:500;
	line-height:24px;
}
#main .supermarket-content-left p{
	left:70px;
	bottom:112px;
	width:110px;
	height:50px;
	padding:10px;
	background-color:rgba(0,0,0,0.5);
	color:#fff;
	font-size:20px;
	text-align:center;
	font-weight:500;
	line-height:24px;
}
#main .supermarket-content-left a{
	top:0;
	left:0;
	width:100%;
	height:100%;
}
#main .supermarket-content-left a:hover{
	background-color:rgba(255,255,255,0.1);
}
#main .supermarket-content-left a>img{
	right:12px;
	bottom:12px;
}
#main .supermarket-left-list{
	width:440px;
	margin:10px;
}
#main .supermarket-left-list h3{
	position:relative;
	float:left;
	width:220px;
	height:60px;
	font-size:21px;
	line-height:60px;
	font-weight:500;
	text-align:center;
	background-color:#f1f1f1;
	z-index:1;
	cursor:pointer;
}
#main .supermarket-left-list .active{
	background-color:rgb(0,178,98);
	color:#fff;
}
#main .supermarket-img-list{
	width:100%;
	height:285px;
}
#main .supermarket-img-list li{
	display:none;
	position:absolute;
	top:60px;
	width:100%;
	height:100%;
}
#main .supermarket-img-list .show{
	display:block;
}
#main .supermarket-img-list li>img{
	width:215px;
	height:215px;
}
#main .supermarket-img-list li h4{
	top:82px;
	width:220px;
	padding:10px 0 0 25px;
	background-color:rgba(241,241,241,.7);
	font-size:23px;
	color:rgb(0,178,98);
}
#main .supermarket-img-list li h4 img{
	margin-right:10px;
}
#main .supermarket-img-list li p{
	top:126px;
	width:220px;
	padding:0 0 11px 25px;
	background-color:rgba(241,241,241,.7);
	font-size:21px;
}
#main .supermarket-img-list li span{
	top:82px;
	left:245px;
	border:43px solid;
	border-color:transparent rgba(241,241,241,.7);
	border-right:none;
}
#main .supermarket-img-list li a{
	top:0;
	left:0;
	width:100%;
	height:100%;
}